.gif {
  margin: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 1em;
  filter: drop-shadow(-4px 4px 2px purple);
}

.text-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(1, 1, 1, 0.77);
  width: 100%;
  height: 100%;
  z-index: 300;
  padding: 10px;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 1s ease;
  opacity: 0;
}

.text-overlay:hover {
  opacity: 1;
  cursor: pointer;

  /* filter: drop-shadow(-7px 7px 4px lightgray); */
}

.text-overlay h4,
p {
  margin: 0.5em;
}

/* display of heart is hidden until hover */

.fa-heart {
  top: 35px;
  right: 35px;
  position: absolute;
  color: rgb(231, 96, 179);
  z-index: 300;
  font-size: 2em;
  cursor: pointer;
  transition: font-weight 0.3s ease-in-out;
}

.favorited {
  font-weight: bold;
}
