.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 70vw;
  height: 60vh;
  z-index: 100;
  background-color: rgba(196, 49, 210, 0.95);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 20%;
}
